body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.centered {
  text-align: center; }

.auto-margin {
  margin: auto; }

.hide {
  visibility: collapse; }

.circle {
  border-radius: 50%; }

.uppercase {
  text-transform: uppercase; }

.single-line-overflow {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-wrap: break-word; }

.foreground {
  color: #FF65C2; }

.colored {
  background-color: #FF65C2;
  color: white; }

.client-bg {
  background-repeat: no-repeat;
  background-image: url("../images/client.svg");
  background-position: left top;
  background-size: cover; }

.team-bg {
  background-repeat: no-repeat;
  background-image: url("../images/team.svg");
  background-position: center bottom;
  background-size: contain; }

.footer-bg {
  background-repeat: no-repeat;
  background-image: url("../images/footer.svg");
  background-position: center bottom;
  background-size: contain; }

.portrait1-bg {
  background-repeat: no-repeat;
  background-image: url("../images/portrait1.png");
  background-position: center center;
  background-size: cover; }

.portrait2-bg {
  background-repeat: no-repeat;
  background-image: url("../images/portrait2.png");
  background-position: center center;
  background-size: cover; }

.portrait3-bg {
  background-repeat: no-repeat;
  background-image: url("../images/portrait3.png");
  background-position: center center;
  background-size: cover; }

.portrait4-bg {
  background-repeat: no-repeat;
  background-image: url("../images/portrait4.png");
  background-position: center center;
  background-size: cover; }

.facebook-bg {
  background-repeat: no-repeat;
  background-image: url("../images/facebook.png");
  background-position: center center;
  background-size: contain;
  background-origin: content-box; }

.twitter-bg {
  background-repeat: no-repeat;
  background-image: url("../images/twitter.png");
  background-position: center center;
  background-size: contain;
  background-origin: content-box; }

.linkedin-bg {
  background-repeat: no-repeat;
  background-image: url("../images/linkedin.png");
  background-position: center center;
  background-size: contain;
  background-origin: content-box; }

.intro-bg {
  background-repeat: no-repeat;
  background-image: url("../images/intro.png");
  background-position: center center;
  background-size: cover;
  background-color: grey; }

.show-bg {
  background-repeat: no-repeat;
  background-image: url("../images/show.png");
  background-position: center center;
  background-size: contain; }

.flex-column-fit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .flex-column-fit > * {
    max-width: 100%; }

.page {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .header .button {
    margin: 10px; }
  .header h1 {
    margin: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.footer {
  display: block;
  padding: 10px 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.button {
  text-decoration: none;
  color: grey; }
  .button:focus {
    outline: 0 none;
    -webkit-box-shadow: inset 0 0 3px #387bbe;
    box-shadow: inset 0 0 3px #387bbe; }

.input-group {
  background-color: white;
  border-radius: 1.5em;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }
  .input-group .input-group-addon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: left;
    left: 1em; }
  .input-group .input-text {
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: 0;
    outline: 0 none;
    padding: 1em; }
    .input-group .input-text:focus {
      -webkit-box-shadow: 0 0 12px #387bbe;
      box-shadow: 0 0 12px #387bbe; }
    .input-group .input-text:first-child {
      border-top-left-radius: 1.5em;
      border-bottom-left-radius: 1.5em; }
  .input-group .input-button {
    border: 0;
    padding: 0.5em 1.5em 0.5em 1em; }
    .input-group .input-button:focus {
      outline: 0 none;
      -webkit-box-shadow: inset 0 0 3px #387bbe;
      box-shadow: inset 0 0 3px #387bbe; }
    .input-group .input-button:last-child {
      border-top-right-radius: 1.5em;
      border-bottom-right-radius: 1.5em; }

.multi-line-overflow {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em; }
  .multi-line-overflow:before {
    content: '...';
    position: absolute;
    right: 1em;
    bottom: 0;
    background-color: white; }
  .multi-line-overflow:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background-color: white; }

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style-type: none; }
  .menu .button {
    padding: 5px; }
  .menu .bordered {
    display: inline-block;
    border: 3px solid #FF65C2;
    max-width: 64px;
    max-height: 64px;
    width: 4vw;
    height: 4vw;
    padding: 1vw; }

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.client {
  max-width: 20em;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 15em;
  flex: 1 1 15em;
  margin: 5px; }
  .client .shadowed {
    -webkit-box-shadow: 1px 3px 9px 0 rgba(217, 217, 217, 0.5);
    box-shadow: 1px 3px 9px 0 rgba(217, 217, 217, 0.5); }
  .client .client-card {
    margin-top: 5vw;
    padding: 0 20px 15px 20px; }
    .client .client-card .circle {
      width: 10vw;
      height: 10vw;
      margin: -5vw auto 5px auto;
      overflow: hidden; }

.advantage {
  background-color: white;
  color: grey;
  margin: 5px;
  max-width: 30em;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20em;
  flex: 1 1 20em;
  overflow: hidden; }
  .advantage img {
    margin: 10px; }
  .advantage .about {
    margin-left: 90px; }

.benefits {
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(15em, auto));
  grid-auto-rows: auto auto;
  grid-gap: 20px; }

.benefit {
  grid-row: auto / span 2;
  display: grid;
  grid-template-rows: subgrid;
  grid-gap: 0; }
  .benefit p {
    grid-row: 2; }

.benefit-heading {
  grid-row: 1; }

.employees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .employees .employee {
    display: inline-block;
    background-color: white;
    color: grey;
    overflow: hidden;
    border-radius: 5%;
    -webkit-box-shadow: 1px 5px 11px 0 rgba(255, 101, 194, 0.5);
    box-shadow: 1px 5px 11px 0 rgba(255, 101, 194, 0.5);
    margin: 5px;
    max-width: 20em;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15em;
    flex: 1 1 15em; }
    .employees .employee .portrait {
      max-width: 100%; }
  .employees .previous, .employees .next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: grey;
    margin: 5px;
    width: 4em;
    height: 4em; }

.navgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .navgroup .nav-links .nav-heading {
    margin-left: 1.5em; }

.notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .notes .note {
    overflow: hidden;
    max-width: 20em;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15em;
    flex: 1 1 15em;
    margin: 5px; }
    .notes .note .details {
      overflow: hidden; }
      .notes .note .details .stats {
        margin: 0.5em; }

.mission {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20em;
  flex: 1 1 20em;
  margin: 10px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25% 0;
  max-width: 718px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 359px;
  flex: 1 1 359px; }

#search-form {
  width: 50%;
  min-width: 25em; }

#search::before {
  background-repeat: no-repeat;
  background-image: url("../images/search.png");
  background-position: center center;
  background-size: contain;
  content: "";
  padding: 0.75em;
  margin-right: 0.5em; }

#subscribtion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#subscribe-form {
  width: 30%;
  min-width: 25em; }

#subscribe {
  background-color: black;
  color: white; }

#email {
  padding-left: 3em; }

#intro {
  color: white;
  opacity: 0.73; }

#pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px;
  overflow: hidden; }

#follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#trial {
  border-radius: 1.5em;
  padding: 10px;
  background-color: #FF65C2;
  color: white; }

#dropdown {
  padding: 5px; }

#feedback {
  background-color: lightgray; }

#nav-menu {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*# sourceMappingURL=style.css.map */