.float-left {
    float: left;
}

.float-right {
    float: right;
}

.centered {
    text-align: center;
}

.auto-margin {
    margin: auto;
}

.hide {
    visibility: collapse;
}

.circle {
    border-radius: 50%;
}

.uppercase {
    text-transform: uppercase;
}

.single-line-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.fit-width {
  >* {
    max-width: 100%;
  }
}
