@mixin vertical-align() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin background-single($image, $size: cover, $position: center center) {
    background-repeat: no-repeat;
    background-image: url($image);
    background-position: $position;
    background-size: $size;
}

@mixin element-base($color, $shadows...) {
    color: $color;

    &:hover {
        color: lighten($color, 10%);
    }

    &:active {
        color: lighten($color, 20%);
    }

    &:focus {
        outline: 0 none;
        box-shadow: $shadows;
    }
}

@mixin element-colored($background, $color, $shadows...) {
    @include element-base($color, $shadows);
    background-color: $background;

    &:hover {
        background-color: lighten($background, 10%);
    }

    &:active {
        background-color: lighten($background, 20%);
    }
}

@mixin media-breakpoint-min($screen) {
    @media (min-width: #{$screen}) {
        @content;
    }
}

@mixin media-breakpoint-max($screen) {
    @media (max-width: #{$screen}) {
        @content;
    }
}
