@import '../01-base/mixins';

.header {
    display: flex;
    padding: 10px 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    position: relative;

    > .button {
        margin: 0.25em 1em 0.25em 0.05em;
    }

    .heading {
        margin: 0.25em;
        flex: 1 1 auto;
    }

    .navigation {
        flex: 1 0 8em;

        @include media-breakpoint-max(55em) {
            // display: none;
            display: block;
            position: absolute;
            top: 100%;
            right: 0px;
            background-color: white;
            border-bottom-left-radius: 5%;
            border-bottom-right-radius: 5%;
            z-index: 1;

            .menu {
                .menu-item {
                    display: list-item;
                    padding: 0.4em 0.8em;
                }
            }
        }
    }

    .dropdown-toggle {
        display: none;
        outline: 0 none;
        opacity: 0;
        z-index: -1;

        @include media-breakpoint-max(55em) {
            &:not(:checked) ~ .navigation {
                transform: translate(25%, -50%) scale(0) rotate(180deg);
                transition: all 1s ease;
            }
        }
    }

    .dropdown-label {
        display: none;
        margin: 0.25em 1em 0.25em 0.05em;

        @include media-breakpoint-max(55em) {
            display: inline-block;
        }
    }
}
