.header {
    display: flex;
    padding: 10px 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;

    .button {
        margin: 10px;
    }

    .heading {
        margin: 5px;
        flex: 1 1 auto;
    }
}
