@import '01-base/global';
@import '01-base/helpers';
@import '01-base/theme';
@import '01-base/backgrounds';
@import '02-partials/page';
@import '02-partials/header';
@import '02-partials/content';
@import '02-partials/footer';
@import '03-components/button';
@import '03-components/input';
@import '03-components/multiline';
@import '03-components/menu';
@import '03-components/client';
@import '03-components/advantage';
@import '03-components/benefits';
@import '03-components/employees';
@import '03-components/navgroup';
@import '03-components/notes';
@import '03-components/present';

#search-form {
    width: 50%;
    min-width: 25em;
}

#search::before {
    @include background-single('../images/search.png', contain);
    content: "";
    padding: 0.75em;
    margin-right: 0.5em;
}

#subscribtion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#subscribe-form {
    width: 30%;
    min-width: 25em;
}

#subscribe {
    background-color: black;
    color: white;
}

#email {
    padding-left: 3em;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    opacity: 0.73;
}

#pros {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#present {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

#follow {
    display: flex;
    align-items: center;
    justify-content: center;
}

#trial {
    border-radius: 1.5em;
    padding: 10px;
    background-color: $primary-color;
    color: white;
}

#dropdown {
    padding: 5px;
}

#feedback {
    background-color: lightgray;
}

#nav-menu {
    flex-wrap: wrap;
}
