html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.page {
    text-align: center;
}

.board {
    border: thin solid sienna;
    border-collapse: collapse;
    background-color: khaki;
    color: brown;
    width: 90vmin;
    height: 90vmin;
    margin: 0 auto;

    @media (max-height: 20em), (max-width: 20em) {
        font-size: 0.75em;
    }

    @media (max-height: 15em), (max-width: 15em) {
        font-size: 0.5em;
    }

    .last-row,
    .zero-row {
        height: 6%;

        .corner {
            width: 6%;
            height: 100%;
        }

        .letter {
            width: 11%;
        }
    }

    .zero-row .letter {
        transform: rotate(180deg);
    }

    .row {
        height: 11%;

        .digit {
            width: 6%;
        }

        .digit:last-child {
            transform: rotate(90deg);
        }

        .digit:first-child {
            transform: rotate(-90deg);
        }

        .cell {
            width: 11%;
            height: 100%;
            border: 0 none sienna;
            padding: 1%;

            &[data-error] {
                position: relative;

                &::after {
                    content: attr(data-error);
                    pointer-events: none;
                    position: absolute;
                    min-width: 200%;
                    border: thin solid blue;
                    background-color: yellow;
                    color: red;
                    padding: 0.5em;
                    opacity: 1;
                    z-index: 100;
                }

                &[data-tooltip=top-left]::after {
                    border-radius: 0 1em 1em 1em;
                    left: 80%;
                    top: 80%;
                }

                &[data-tooltip=top-right]::after {
                    border-radius: 1em 0 1em 1em;
                    right: 80%;
                    top: 80%;
                }

                &[data-tooltip=bottom-left]::after {
                    border-radius: 1em 1em 1em 0;
                    left: 80%;
                    bottom: 80%;
                }

                &[data-tooltip=bottom-right]::after {
                    border-radius: 1em 1em 0 1em;
                    right: 80%;
                    bottom: 80%;
                }
            }

            &.white.man {
                background-image: url("../images/ch_white.png");
            }

            &.white.king {
                background-image: url("../images/ch_q_white.png");
            }

            &.black.man {
                background-image: url("../images/ch_black.png");
            }

            &.black.king {
                background-image: url("../images/ch_q_black.png");
            }

            &.black,
            &.white {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                background-origin: content-box;
            }
        }

        &:nth-child(2) .cell {
            border-top-color: sienna;
            border-top-style: solid;
            border-top-width: thin;
        }

        &:nth-last-child(2) .cell {
            border-bottom-color: sienna;
            border-bottom-style: solid;
            border-bottom-width: thin;
        }

        .cell:nth-child(2) {
            border-left-color: sienna;
            border-left-style: solid;
            border-left-width: thin;
        }

        .cell:nth-last-child(2) {
            border-right-color: sienna;
            border-right-style: solid;
            border-right-width: thin;
        }

        &:nth-child(even) .cell:nth-child(odd):not(.selected),
        &:nth-child(odd) .cell:nth-child(even):not(.selected) {
            background-color: brown;

            &.highlight {
                background-color: lighten(brown, 20%);
            }
        }

        .cell.selected {
            background-color: orange;
            transition: background-color 2s;

            &.highlight {
                background-color: lighten(orange, 20%);
            }
        }
    }

    .cell,
    .corner,
    .digit,
    .letter {
        display: inline-block;
        vertical-align: middle;
    }
}

.panel {
    padding: 0.5vmin;

    .circle {
        display: inline-block;
        vertical-align: middle;
        border: 0;
        border-radius: 50%;
        width: 8vmin;
        height: 8vmin;
    }

    .controls {
        display: inline-block;
        vertical-align: middle;
        padding: 1vmin;
        margin: 1vmin auto;
        border-radius: 1em;
        max-width: 78%;

        button, select {
            border-radius: 1em;
            border-color: orange;
            background-color: khaki;
        }

        button, label, select {
            display: inline-block;

            @media (max-height: 20em), (max-width: 20em) {
                font-size: 0.75rem;
            }

            @media (max-height: 15em), (max-width: 15em) {
                font-size: 0.5rem;
            }
        }
    }

    &.white {
        .circle.black {
            display: none;
        }

        .controls {
            background-color: black;

            label {
                color: white;
            }
        }
    }

    &.black {
        .circle.white {
            display: none;
        }

        .controls {
            background-color: silver;
        }
    }
}
