.advantage {
    background-color: white;
    color: grey;
    margin: 5px;
    max-width: 30em;
    flex: 1 1 20em;
    overflow: hidden;

    img {
        margin: 10px;
    }

    .about {
        margin-left: 90px;
    }
}
