.clients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.client {
    max-width: 20em;
    flex: 1 1 15em;
    margin: 5px;

    .shadowed {
        box-shadow: 1px 3px 9px 0 rgba(217, 217, 217, 0.5);
    }

    .client-card {
        margin-top: 25%;
        padding: 0 20px 15px 20px;

        .circle {
            width: 50%;
            margin: -25% auto 5px auto;
            overflow: hidden;
        }
    }
}
