@import '../01-base/settings';
@import '../01-base/mixins';

.employees {
    display: flex;
    justify-content: space-between;

    .employee {
        display: inline-block;
        background-color: white;
        color: grey;
        overflow: hidden;
        border-radius: 5%;
        box-shadow: 1px 5px 11px 0 rgba($primary-color, 0.5);
        margin: 5px;
        flex: 0 1 20em;

        .portrait {
            max-width: 100%;
        }
    }

    a.button.previous, a.button.next {
        @include element-colored(white, grey, inset 0 0 3px $box-shadow-color);
        display: flex;
        align-self: center;
        align-items: center;
        flex-shrink: 0;
        margin: 5px;
        width: 10vw;
        height: 10vw;
        max-width: 4em;
        max-height: 4em;

        .fas.fa-angle-left, .fas.fa-angle-right {
            @include media-breakpoint-max(30em) {
                font-size: 2em;
            }

            @include media-breakpoint-max(20em) {
                font-size: 1.33em;
            }

            @include media-breakpoint-max(15em) {
                font-size: .875em;
            }

            @include media-breakpoint-max(12em) {
                font-size: .75em;
            }

            @include media-breakpoint-max(10em) {
                font-size: .5em;
            }
        }
    }
}

.sl-employees {

    .sl-employee {
        display: inline-block;
        background-color: white;
        color: grey;
        overflow: hidden;
        border-radius: 5%;
        box-shadow: 1px 5px 11px 0 rgba($primary-color, 0.5);
        margin: 5px;
        max-width: 20em;

        .portrait {
            max-width: 100%;
        }
    }
}
