@import '../01-base/settings';
@import '../01-base/mixins';

.employees {
    margin: 2em auto;

    .employee {
        display: inline-block;
        background-color: white;
        color: grey;
        overflow: hidden;
        border-radius: 5%;
        box-shadow: 1px 5px 11px 0 rgba($primary-color, 0.5);
        margin: 2px;
        max-width: 17em;

        .portrait {
            max-width: 100%;
        }
    }

    &.slick-slider {
        width: 80%;
    }

    .slick-slide {
        margin: 2px;
    }

    .slick-prev {
        left: -10%;

        [dir='rtl'] & {
            right: -10%;
            left: auto;
        }
    }

    .slick-next {
        right: -10%;

        [dir='rtl'] & {
            right: auto;
            left: -10%;
        }
    }

    .slick-prev, .slick-next {
        width: 7vw;
        height: 7vw;

        &:before {
            font-size: 7vw;
        }

        @include media-breakpoint-min(1024px) {
            &:before {
                font-size: 5rem;
            }
        }
    }
}
