@import '../01-base/settings';

.menu {
    list-style-type: none;
    padding-left: 0;

    .menu-item {
        display: inline-block;
        padding: 0.4em 0.2em;
    }

    .bordered {
        display: inline-block;
        border: 3px solid $primary-color;
        max-width: 64px;
        max-height: 64px;
        width: 4vw;
        height: 4vw;
        padding: 1vw;
        margin: 2px;
    }
}
