.notes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .note {
    overflow: hidden;
    flex: 0 1 20em;
    margin: 5px;

    .details {
      overflow: hidden;

      .stats {
        margin: 0.5em;
      }
    }
  }
}
