.advantage {
  background-color: white;
  color: grey;
  margin: 5px;
  max-width: 30em;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20em;
  flex: 1 1 20em;
  overflow: hidden; }
  .advantage img {
    margin: 10px; }
  .advantage .about {
    margin-left: 90px; }
