body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.header {
    display: flex;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0;
}

.footer {
    display: block;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0;
}

.content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.navgroup {
    display: flex;
}

.clients {
    display: flex;
}

.employees {
    display: flex;
}

.notes {
    display: flex;
}

.menu {
    display: flex;
    list-style-type: none;
}

.benefits {
    display: flex;
}

.pros {
    display: flex;
}

.button {
    text-decoration: none;
    color: grey;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.circle {
    border-radius: 50%;
}

.bordered {
    border: 3px solid #FF65C2;
}
