body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.button {
  text-decoration: none;
  color: grey;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.circle {
  border-radius: 50%;
}

.bordered {
  border: 3px solid #FF65C2;
}

.foreground {
  color: #FF65C2;
}

.colorful {
  background-color: #FF65C2;
  color: white;
}

.inherited {
  background-color: inherit;
  color: inherit;
}

.centered {
  text-align: center;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.header {
  display: flex;
  padding: 10px 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
}

.menu .button {
  padding: 5px;
}

.header .button {
  margin: 10px;
}

.header h1 {
  margin: 5px;
  flex-grow: 1;
}

.footer {
  display: block;
  padding: 10px 0;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.navgroup {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clients {
  display: flex;
  justify-content: center;
}

.client {
  max-width: 20%;
  margin: 5px;
}

.employees {
  display: flex;
  align-items: center;
}

.advantage {
  display: inline-block;
  background-color: white;
  color: grey;
  margin: 5px;
  max-width: 40%;
}

.employee {
  display: inline-block;
  background-color: white;
  color: grey;
  border-radius: 5%;
  box-shadow: 1px 5px 11px 0 rgba(192, 16, 79, 0.5);
  margin: 5px;
}

.previous, .next {
  display: inline-block;
  background-color: white;
  color: grey;
  margin: 5px;
  padding: 10px;
}

.notes {
  display: flex;
  justify-content: center;
}

.note {
  max-width: 20%;
  margin: 5px;
}

.menu {
  display: flex;
  list-style-type: none;
}

img.portrait {
  max-width: 100%;
}

#benefits {
  display: flex;
}

#pros {
  display: flex;
  justify-content: center;
}

#follow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#trial {
  border-radius: 10%;
  padding: 10px;
}

#dropdown {
  padding: 5px;
}

#issue-finder {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
