html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.page {
  text-align: center;
}
.board {
  border: thin solid sienna;
  border-collapse: collapse;
  background-color: khaki;
  color: brown;
  width: 90vmin;
  height: 90vmin;
  margin: 0 auto;
}
@media (max-height: 20em), (max-width: 20em) {
  .board {
    font-size: 0.75em;
  }
}
@media (max-height: 15em), (max-width: 15em) {
  .board {
    font-size: 0.5em;
  }
}
.board .last-row,
.board .zero-row {
  height: 6%;
}
.board .last-row .corner,
.board .zero-row .corner {
  width: 6%;
  height: 100%;
}
.board .last-row .letter,
.board .zero-row .letter {
  width: 11%;
}
.board .zero-row .letter {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.board .row {
  height: 11%;
}
.board .row .digit {
  width: 6%;
}
.board .row .digit:last-child {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.board .row .digit:first-child {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.board .row .cell {
  width: 11%;
  height: 100%;
  border: 0 none sienna;
  padding: 1%;
}
.board .row .cell[data-error] {
  position: relative;
}
.board .row .cell[data-error]::after {
  content: attr(data-error);
  pointer-events: none;
  position: absolute;
  min-width: 200%;
  border: thin solid blue;
  background-color: yellow;
  color: red;
  padding: 0.5em;
  opacity: 1;
  z-index: 100;
}
.board .row .cell[data-error][data-tooltip=top-left]::after {
  border-radius: 0 1em 1em 1em;
  left: 80%;
  top: 80%;
}
.board .row .cell[data-error][data-tooltip=top-right]::after {
  border-radius: 1em 0 1em 1em;
  right: 80%;
  top: 80%;
}
.board .row .cell[data-error][data-tooltip=bottom-left]::after {
  border-radius: 1em 1em 1em 0;
  left: 80%;
  bottom: 80%;
}
.board .row .cell[data-error][data-tooltip=bottom-right]::after {
  border-radius: 1em 1em 0 1em;
  right: 80%;
  bottom: 80%;
}
.board .row .cell.white.man {
  background-image: url("../images/ch_white.png");
}
.board .row .cell.white.king {
  background-image: url("../images/ch_q_white.png");
}
.board .row .cell.black.man {
  background-image: url("../images/ch_black.png");
}
.board .row .cell.black.king {
  background-image: url("../images/ch_q_black.png");
}
.board .row .cell.black,
.board .row .cell.white {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-origin: content-box;
}
.board .row:nth-child(2) .cell {
  border-top-color: sienna;
  border-top-style: solid;
  border-top-width: thin;
}
.board .row:nth-last-child(2) .cell {
  border-bottom-color: sienna;
  border-bottom-style: solid;
  border-bottom-width: thin;
}
.board .row .cell:nth-child(2) {
  border-left-color: sienna;
  border-left-style: solid;
  border-left-width: thin;
}
.board .row .cell:nth-last-child(2) {
  border-right-color: sienna;
  border-right-style: solid;
  border-right-width: thin;
}
.board .row:nth-child(even) .cell:nth-child(odd):not(.selected),
.board .row:nth-child(odd) .cell:nth-child(even):not(.selected) {
  background-color: brown;
}
.board .row:nth-child(even) .cell:nth-child(odd):not(.selected).highlight,
.board .row:nth-child(odd) .cell:nth-child(even):not(.selected).highlight {
  background-color: #d65f5f;
}
.board .row .cell.selected {
  background-color: orange;
  -webkit-transition: background-color 2s;
  transition: background-color 2s;
}
.board .row .cell.selected.highlight {
  background-color: #ffc966;
}
.board .row .cell.selected.transparent {
  background-color: transparent;
  -webkit-transition: none;
  transition: none;
  border: 0;
  outline: 0;
}
.board .cell,
.board .corner,
.board .digit,
.board .letter {
  display: inline-block;
  vertical-align: middle;
}
.panel {
  padding: 0.5vmin;
}
.panel .circle {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  border-radius: 50%;
  width: 8vmin;
  height: 8vmin;
}
.panel .controls {
  display: inline-block;
  vertical-align: middle;
  padding: 1vmin;
  margin: 1vmin auto;
  border-radius: 1em;
  max-width: 78%;
}
.panel .controls button,
.panel .controls select {
  border-radius: 1em;
  border-color: orange;
  background-color: khaki;
}
.panel .controls button,
.panel .controls label,
.panel .controls select {
  display: inline-block;
}
@media (max-height: 20em), (max-width: 20em) {
  .panel .controls button,
  .panel .controls label,
  .panel .controls select {
    font-size: 0.75rem;
  }
}
@media (max-height: 15em), (max-width: 15em) {
  .panel .controls button,
  .panel .controls label,
  .panel .controls select {
    font-size: 0.5rem;
  }
}
.panel.white .circle.black {
  display: none;
}
.panel.white .controls {
  background-color: black;
}
.panel.white .controls label {
  color: white;
}
.panel.black .circle.white {
  display: none;
}
.panel.black .controls {
  background-color: silver;
}